@model User
@{

}
<!DOCTYPE html>
<html>
<head>
    <title> TigerTix: @ViewBag.Title</title>
</head>
<body>
    <h1 style="color:black">Welcome back, @Model.UserName!</h1>
    <br />
    <div class=User style="display:@{User.IsCoordinator ? "none" : "block"};">
         <a href="/App/CoordinatorHome" style="color:black"><input type="button" value="Coordinator Home Page" /> </a>
    </div>
</body>
</html>