@model IndexViewModel
@{
    ViewBag.Title = "Event Coordinator Home";
}
<!DOCTYPE html>
<html>
    <head>
        <title>TigerTix: Coordinate Your Events</title>
    </head>
    <body>

    </body>
</html>