@model IEnumerable<User>
@{

}
<html>
<head>
    <title>TigerTix: Create an Account</title>
</head>

<body>
    <h1 style="color:black">Create an Account</h1>

    <form method="post">
        <label style="color:darkorange">First Name:</label>
        <br />
        <input type="text" name="Firstname" />
        <br />
        <label style="color:darkorange">Last Name:</label>
        <br />
        <input type="text" name="Lastname" />
        <br />
        <label style="color:darkorange">Username:</label>
        <br />
        <input type="text" name="UserName" />
        <br />
        <label style="color:darkorange">Password:</label>
        <br />
        <input type="password" name="Password" />
        <br />
        <input type="submit" value="Create an Account" />
        <a href="/App/Index" style="color:darkorange"><input type="button" value="Home Page" /> </a>
    </form>
</body>
</html>
