@model IEnumerable<User>
@{

}

<html>
<head>
    <title>TigerTix: Remove Users</title>
</head>

<body>
    <h1 style="color:black">Remove a User</h1>
    <form method="post">
        <label style="color:darkorange">User to be Removed:</label>
        <br />
        <input type="number" name="ID" />
        <input type="submit" value="Remove User" />
        <br />
    </form>
    <a href="/App/Index" style="color:darkorange"><input type="button" value="Home Page" /> </a>
    <a href="/App/Showusers" style="color:darkorange"><input type="button" value="Show All Users" /> </a>
</body>
</html>