@model IEnumerable<User>

<title>Tiger Tix: Show Users</title>

<h1 style="color:black">Users</h1>
<b />
<head>
    <style type="text/css">
        <!--
        .tab {
            margin-left: 30px;
        }
        -->
    </style>
</head>
<u1>
    @foreach (var u in Model)
    {

        <h2 style="color:darkorange" class="tab">User:@u.UserName</h2>

        <h3 style="color:darkorange" class="tab">ID:@u.Id</h3>

        <h3 style="color:darkorange" class="tab">@u.FirstName @u.LastName</h3>
        <b />
    }
    <a href="/App/Index" style="color:darkorange"><input type="button" value="Home Page" /> </a>
    <a href="/App/RemoveUsers" style="color:darkorange"><input type="button" value="Remove a User" /> </a>
</u1>

<br />