@model IEnumerable<User>

<title>Tiger Tix: Show Users</title>

<h1>Users</h1>

<u1>
    @foreach (var u in Model)
            {
                <li>@u.UserName</li>
                <li>@u.FirstName</li>
                <li>@u.LastName</li>
            }
</u1>

<br />

<a href="/App/Postevents"><input type="button" value="Post Events" /> </a>